<div class="flex flex-col w-full" [ngClass]="fromSearch ? 'pt-20' : 'pt-40'">
    <nav
      [ngClass]="{
        'bg-[#333333]/80 backdrop-blur-sm': isScrolled,
        'bg-[#333333]': !isScrolled
      }"
      class="py-6 fixed top-0 left-0 right-0 z-50 transition-all duration-300 "
    >

      <div class="flex justify-between items-center px-4 max-w-6xl mx-auto">
        <!-- Left side: Brand Logo -->
        <div class="flex gap-2 items-center">
          <a
            [routerLink]="['/']"
            class="self-center whitespace-nowrap text-sm sm:text-xl font-semibold text-white"
          >
            <span
              class="px-2 py-1 bg-gradient-to-r from-indigo-500 via-purple-500 to-zinc-500 rounded-lg text-white"
            >
              Tech
            </span>
            Blog
          </a>
        </div>
    
        <!-- Middle: Search form (visible on large screens) -->
        <form (submit)="handleSubmit($event)" class="flex-grow mx-4  md:ml-20  ">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            name="search"
            placeholder="Search..."
            class=" !rounded-full shadow-none outline-none"
            [ngStyle]="{
              'background': '#eef',
              'borderRadius': '20px',
              'border': 'none',
              'boxShadow': 'none'
            }"
          />
        </form>
    
        <!-- Right side: Theme toggle, user dropdown/sign-in, and mobile toggle -->
        <div class="flex gap-2 items-center">
          <!-- Theme toggle button -->
          <button
            class="w-10 h-10  rounded-full p-0 flex items-center justify-center dark:bg-black"
            (click)="toggleTheme()"
          >
            <ng-container *ngIf="theme==='light'; else darkMode">
              <!-- Light theme icon (sun) -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 text-yellow-500"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 3v1m0 16v1m8.485-8.485h-1M4.515 12.515h-1m15.364 4.95l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M12 8a4 4 0 100 8 4 4 0 000-8z"
                />
              </svg>
            </ng-container>
            <ng-template #darkMode>
              <!-- Dark theme icon (moon) -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 text-gray-200"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"
                />
              </svg>
            </ng-template>
          </button>
    
          <!-- User dropdown or Sign In -->
          <div *ngIf="currentUser; then currentView else signIn" ></div>
    
              <ng-template #currentView>
                <div class="relative" (click)="toggleDropdown()" tabindex="0">
                    <img
                      [src]="currentUser?.profilePicture || 'https://placehold.co/600x400/png'"
                      alt="user"
                      class="rounded-full w-10 h-10 cursor-pointer"
                    />
                    <div
                        #dropdown
                      *ngIf="dropdownOpen"
                      class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50"
                    >
                      <div class="p-4 border-b text-purple-700">
                        <div class="text-sm"> {{  currentUser?.username }}</div>
                        <!-- <div class="text-sm font-medium truncate">{{ currentUser?.email }}</div> -->
                      </div>
                      <a  *ngIf="currentUser?.isAdmin" [routerLink]='["/admin"]' (click)="toggleThemeLight()" class="block px-4 py-2 hover:bg-gray-100 dark:text-gray-600">
                        Dashboard
                      </a>
                      <div class="border-t"></div>
                      <button
                        (click)="handleSignout()"
                        class="w-full text-left px-4 py-2 hover:bg-gray-100 dark:text-gray-600"
                      >
                        Sign out
                      </button>
                    </div>
                  </div>
            </ng-template>
    
          
          <ng-template #signIn>
            <a [routerLink]='["/sign-in"]'>
              <button class="px-2 py-1 border border-transparent rounded bg-white">Sign In</button>
            </a>
          </ng-template>
    
          <!-- Mobile navbar toggle -->
          <button class="bg-white p-2 rounded lg:hidden" (click)="toggleNavbar()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-black"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
          </button>
        </div>
      </div>
    
      <!-- Mobile collapse menu -->
      <div *ngIf="navbarOpen" class="mt-4 lg:hidden">
        <a
          [routerLink]='["/"]'
          class="block px-4 py-2 hover:bg-black"
          [ngClass]="{ 'text-white': path === '/', 'text-gray-500': path !== '/' }"
          >Home</a
        >
        <a
          [routerLink]='["/about"]'
          class="block px-4 py-2 hover:bg-black"
          [ngClass]="{ 'text-white': path === '/about', 'text-gray-500': path !== '/about' }"
          >About</a
        >
        <a
          [routerLink]='["/projects"]'
          class="block px-4 py-2 hover:bg-black"
          [ngClass]="{ 'text-white': path === '/projects', 'text-gray-500': path !== '/projects' }"
          >Projects</a
        >
      </div>
    </nav>

</div>


